<div class="header">

    <div class="header2 container">
        <div style="flex:1"></div>
        <div class="icon">
        <i class="fab fa-facebook-f"></i>
    </div>
        <div class="icon">
            <i  class="fa-brands fa-instagram"></i>
        </div>
        <div class="icon"> 
            <i   class="fa-brands fa-twitter"></i>
        </div>
        <div class="icon"> 
        <i class="fa-brands fa-youtube"></i>
    </div>
        <div class="img">
       
    </div>
    <img src="https://sosyalyardim.ibb.gov.tr/images/beyaz-masa.svg" alt="">
    </div>

</div>
