<div class="footer">
    <div class="footer_logo">
        <img src="https://sosyalyardim.ibb.gov.tr/images/ibb-logo.png" alt="İstanbul Büyükşehir Belediyesi"
            />
    </div>
    
    <img  src="https://sosyalyardim.ibb.gov.tr/images/istanbul.svg" 
    alt="İstanbul Büyükşehir Belediyesi" class="footer_art">

    <img  src="https://sosyalyardim.ibb.gov.tr/images/istanbullular.png" alt="İstanbul Büyükşehir Belediyesi" class="footer_people">

    <div  class="footer_bar">
        İstanbul Büyükşehir Belediyesi Bilgi İşlem Daire Başkanlığı tarafından ❤️
        ile tasarlanmıştır. © 2021
      </div>
</div>