<div class="container">
   <div class="menu">
    <div class="logo">
      <img src="https://sosyalyardim.ibb.gov.tr/images/logo.png" alt="">
    </div>
      <div class="menu-item">
       
         <a routerLink ="home"> ANASAYFA </a>
      </div>
      <div class="menu-item">
  
         <a routerLink="questions">SIK SORULAN SORULAR</a>
      </div>
      <div class="menu-item">
         <a routerLink="">BAŞVURU SORGULAMA</a>
      </div>

      <div class="menu-item">
         <a routerLink="">ONLINE BAŞVURU</a>
      </div>
      <div class="menu-item">
         <a routerLink="">İLETİŞİM</a>
      </div>
      
   </div>
</div>