<div class="header_bottom">
<img src="https://sosyalyardim.ibb.gov.tr/images/banner-mobile.jpg" alt="16 Milyon İçin Çalışıyoruz">


<div class="form">
<h3>Başvuru Sorgulama</h3>
<div class="cover">

    <form>
        <div class="flex">
      
            <div class="input-group">
                <input name="" class="form-control" placeholder="T.C Kimlik No" type="text"
                    formControlName="T.C Kimlik No">
            </div>
        </div >
      
        <div class="input-group">
            <input name="" class="form-control" placeholder="Doğum Tarihi" type="text" formControlName="Doğum Tarihi">
        </div>
  
   
        <div class="input-group">
            <input name="" class="form-control" placeholder="İsim" type="text" formControlName="İsim">
        </div>

    <div>
        <div class="input-group">

            <input name="" class="form-control" placeholder="Soyisim" type="text" formControlName="Soyisim">
        </div>
    </div>



        <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block"> Sorgula</button>
        </div>
    

    </form>
</div>
</div>